@*
 * This template takes a two arguments, a String containing a
 * message to display and an AssetsFinder to locate static assets.
 *@
@*
@(message: String, devicesNameList: List[String], devicesCodeList: List[String], devicesDesList: List[String])
@(message: String, devicesList: List[(String, String, String)])
@devicesList = @{TSData.getDeviceList()}
*@

@(message: String, devicesList: List[DeviceItem])(implicit assetsFinder: AssetsFinder)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main("Welcome to Play") {
    <title> MQTT DASH BOARD</title>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="http://localhost:9000/device/loadDevicePage" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">+ New Device</a>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-borded">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>ClientID</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(device <- devicesList) {
                        <tr>
                                <td>@device.id</td>
                                <td>@device.name</td>
                                <td>@device.code</td>
                                <td>@device.des</td>
                                <td>
                                    <a href="http://localhost:9000/form1/@device.code" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">Publish</a>
                                    <a href="http://localhost:9000/form2/@device.code" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-primary">Subscribe</a>
                                    <a href="http://localhost:9000/device/edit/@device.code" class="btn btn-sm btn-warning">Edit</a>
                                    <a href="http://localhost:9000/device/delete/@device.code" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
